    body {
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		line-height: 1.5em;
		background-color: #ccffff;
	}
	h3 {
		font-size: 30px;
	}
    .form input[type=text], select, textarea {
 	    width: 200px;
	    padding: 5px;
	    border: 1px solid #ccc;
	    border-radius: 10px;
 	    margin-top: 6px;
 	    margin-bottom: 16px;
 	}
 	.form input[type=tel], select, textarea {
 	    width: 200px;
	    padding: 5px;
	    border: 1px solid #ccc;
	    border-radius: 10px;
 	    margin-top: 6px;
 	    margin-bottom: 16px;
 	}
 	.form input[type=email], select, textarea {
 	    width: 200px;
	    padding: 5px;
	    border: 1px solid #ccc;
	    border-radius: 10px;
 	    margin-top: 6px;
 	    margin-bottom: 16px;
 	}
 	.form input[type=date], select, textarea {
 	    width: 200px;
	    padding: 5px;
	    border: 1px solid #ccc;
	    border-radius: 10px;
 	    margin-top: 6px;
 	    margin-bottom: 16px;
 	}
 	input[type=submit] {
 	    background-color: #003300;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
	}
	input[type=submit]:hover {
        background-color: #009900;
	}
	input[type=reset] {
 	    background-color: #003300;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
	}
	input[type=reset]:hover {
        background-color: #009900;
	}
	.pay {
		text-decoration: none;
		color: #cc3300;
	}
	.pay:hover{
		color: #336699;
	}
	.home {
		text-decoration: none;
	}
	.home:hover {
		color: #3333cc;
	}
